.types span{
    font-size:15px;
}
.types button.active{
    background-color:green !important;
}
.types button{
    background-color:#fff !important;
    box-shadow:0 0 0 1px #717171 !important;
}
/* Bubble Theme */
.app .ql-bubble .ql-editor {
    border: 1px solid #ccc;
    border-radius: 0.5em;
}
.ql-editor {
    min-height: 10em;
    border-radius:3px;
    border:.5px solid #c0c0c0 !important;
}
